* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1140px;
  margin: auto;
}
a {
  text-decoration: none;
}
/* above navigation section css starts */
.above-navigation {
  background: rgb(16, 170, 16);
  width: 100%;
  height: 30px;
}

.a-n-row {
  display: flex;
  justify-content: space-between;
  color: white;
  padding-top: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 16px;
}
i {
  padding-right: 4px;
}
/* above navigation section ends */
/* navigation section starts */
.nav-row {
  width: 1140px;
  height: 50px;
  background: white;
  padding-top: 20px;
}
.nav-right ul li {
  list-style: none;
  margin-right: 30px;
}
.nav-row {
  display: flex;
  justify-content: space-between;
}
.nav-right ul {
  display: flex;
}
.nav-right ul li a {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: black;
}
.nav-left a {
  color: rgb(16, 170, 16);
  font-size: 20px;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  transition: 0.5s;
}
.nav-left a:hover{
  color: black;
  transition: 0.5s;
}
/* navigation section ends */
/* background  section starts*/
.background-image {
  background-image: url(../Image/img-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: soft-light;
  height: 100vh;
}
.background-details {
  text-align: center;
  line-height: 1.3;
  padding-top: 200px;
}
.background-details h1 {
  font-family: "Amatic SC", cursive;
  font-size: 100px;
  font-weight: 300;
  color: white;
}
.background-details h2 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.background-details button {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 140px;
  color: white;
  height: 40px;
  background-color: rgb(16, 170, 16);
  border: 2px solid rgb(16, 170, 16);

  border-radius: 20px;
  transition: 0.5s;
}
.background-details button:hover {
  background-color: transparent;
  cursor: pointer;
  color: rgb(16, 170, 16);
  transition: 0.5s;
}
.background-details button a {
  color: white;
  transition: 0.3s;
}
.background-details button a:hover {
  color: rgb(16, 170, 16);
  transition: 0.3s;
}
/* background section ends */
/* icon section css starts */
.icon-row {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 6rem;
  text-align: center;
}
.icon-1 h3 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 20px;
}
.icon-2 h3 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 20px;
}
.icon-3 h3 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 20px;
}
.icon-4 h3 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 20px;
}
.icon-1,
.icon-2,
.icon-3,
.icon-4 p {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500
  color: rgb(128, 128, 128);
}

.icon-img-1 img {
  width: 50px;
  filter: invert();
  padding-top: 23px;
}
.icon-img-2 img {
  width: 50px;
  filter: invert();
  padding-top: 23px;
}

.icon-img-3 img {
  width: 50px;
  filter: invert();
  padding-top: 23px;
}

.icon-img-4 img {
  width: 50px;
  filter: invert();
  padding-top: 23px;
}
.icon-img-1 {
  display: inline-block;
  background-color: #E4b2D6;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  transition: 0.5s;
}
.icon-img-1::before{
  content: "";
  position: absolute;
  border: 1px solid white;
  border-radius: 100px;
  width: 80px;
  height: 80px;
  top: 9px;
  right: 10px;
  left: 9px;
  bottom: 10px;

}
.icon-img-2 {
  display: inline-block;
  background-color: #DCC698;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  transition: 0.5s;
}
.icon-img-2::before{
  content: "";
  position: absolute;
  border: 1px solid white;
  border-radius: 100px;
  width: 80px;
  height: 80px;
  top: 9px;
  right: 10px;
  left: 9px;
  bottom: 10px;

}
.icon-img-3 {
  display: inline-block;
  background-color:#A2d1E1;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  transition: 0.5s;
}
.icon-img-3::before{
  content: "";
  position: absolute;
  border: 1px solid white;
  border-radius: 100px;
  width: 80px;
  height: 80px;
  top: 9px;
  right: 10px;
  left: 9px;
  bottom: 10px;

}
.icon-img-4 {
  display: inline-block;
  background-color: #DCD691;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  transition: 0.5s;
}
.icon-img-4::before{
  content: "";
  position: absolute;
  border: 1px solid white;
  border-radius: 100px;
  width: 80px;
  height: 80px;
  top: 9px;
  right: 10px;
  left: 9px;
  bottom: 10px;

}
.icon-img-1:hover,.icon-img-2:hover,.icon-img-3:hover,.icon-img-4:hover{
  background-color:rgb(16, 170, 16) ;
  cursor: pointer;
  transition: 0.5s;
}
/* icon section css ends */

